# Development environment configuration
spring:
  datasource:
    url: jdbc:h2:mem:intern_db
    driver-class-name: org.h2.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

api:
  gemini:
    key: ${GEMINI_API_KEY}
    url: ${GEMINI_API_URL}

jwt:
  secret: ${JWT_SECRET}

app:
  cors:
    allowed-origins: "http://localhost:3000"
    allowed-methods: "GET,POST,PUT,DELETE,PATCH,OPTIONS"
    allowed-headers: "*"
